$primary-color: #7c5dfa;
$primary-foreground-color: #9277ff;

$color-03: #1e2139;
$color-04: #252945;
$color-05: #dfe3fa;
$btn-dark-text: #888eb0;
$btn-light-text: #7e88c3;
$white: #fff;

// bg and text colors
$light-bg: #f8f8fb;
$dark-bg: #141625;
$text-color: #0c0e16;

// semantic colors
$error-color: #ec5757;
$error-hover: #ff9797;
