@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

html {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  word-spacing: -0.1px;
}

.heading-s {
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 15px !important;
  word-spacing: -0.25px !important;
  line-height: 24px !important;
}
.heading-m {
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 24px !important;
  word-spacing: -0.75px !important;
  line-height: 22px !important;
}
.heading-l {
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 36px !important;
  word-spacing: -1px !important;
  line-height: 33px !important;
}
